extends ./layout.pug

block title
  title Freevue - Rock Paper Scissors | Create Room
block content
  section.container
    form#form(action="/room" method="post")
      //- input(type="text" name="name")
      button 생성
