section
  ul.message-list
  form#form
    input(type="text" name="chat")
    button 전송
script.
  const $form = document.querySelector('#form')
  const $messageList = document.querySelector('.message-list')

  $form.onsubmit = (event) => {
    event.preventDefault()

    const { chat } = event.target.elements
    const { value } = chat

    socket.emit('chat message', roomId, name, value)

    chat.value = ''
  }

  socket.on('chat message', (name, message) => {
    console.log(name, message)
    const $li = document.createElement('li')

    $li.innerHTML = `
      <span>${name}</span>
      <p>${message}</p>
    `

    $messageList.append($li)
  })