section.chat-wrap
  div.content-wrap
    ul.message-list
  div.input-wrap
    form#form
      textarea(name="chat")
      button 전송
script.
  const $form = document.querySelector('#form')
  const $messageList = document.querySelector('.message-list')

  $form.onsubmit = (event) => {
    event.preventDefault()

    const { chat } = event.target.elements
    const { value } = chat

      if (value.trim()) {
        socket.emit('chat message', roomId, name, value.trim())

        chat.value = ''
      }
  }

  $form.onkeydown = (event) => {
    if (event.key === 'Enter') {
      event.preventDefault()
    }
  }
  $form.onkeyup = (event) => {
    if (event.key === 'Enter') {
      event.preventDefault()

      const { chat } = $form.elements
      const { value } = chat

      if (value.trim()) {
        socket.emit('chat message', roomId, name, value.trim())

        chat.value = ''
      }
    }
  }

  socket.on('chat message', (messageName, message, type) => {
    const $li = document.createElement('li')

    switch (type) {
      case 'join':
        $li.className = 'join'
        $li.innerHTML = `
          <div>
            <p>${messageName}님께서 입장하셨습니다.</p>
          </div>
        `

        break
      case 'leave':
        $li.className = 'join'
        $li.innerHTML = `
          <div>
            <p>${messageName}님께서 퇴장하셨습니다.</p>
          </div>
        `

        break
      default:
        $li.className = messageName === name ? 'is-me' : ''
        $li.innerHTML = `
          <div>
            <span>${messageName}</span>
            <p>${message}</p>
          </div>
        `
    }

    $messageList.append($li)
    $messageList.scrollTo(0, $messageList.scrollHeight)
  })