doctype html
html
  head
    block title
    script(src="/socket.io/socket.io.js")
    script.
      const socket = io()
  body
    section#app
      article.container
        block content
    footer FreeVue Copyright © 2021