doctype html
html
  head
    block title
    script(src="/socket.io/socket.io.js")
    script.
      const socket = io()
  body
    header Freevue File System
    block content
    footer FreeVue Copyright © 2021