doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
    script(src="/socket.io/socket.io.js")
    script.
      const socket = io()
    link(rel="stylesheet", href="/styles/index.css")
  body
    section#app
      article.container
        block content
      footer.footer
        div.inner
          b FreeVue
          | Copyright © 2021