extends ./layout.pug

block title
  title Freevue - Rock Paper Scissors | Login
block content
  section Login
    ul.message-list
    form#form(action="/login" method="post")
      input(type="text" name="name")
      button 전송
